*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

  html{
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .login-process{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Roboto', sans-serif;
  }

  .centreing-container{
    display: flex;
    justify-content: center;
}



/*----------------- Media Queries ------------*/

@media screen and (max-width:700px){
    .why-likey{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    form{
        position: absolute;
        z-index: 1;
        min-width: 100%;
        padding: 20px;
    }

    .login-buttons{
        justify-content: center;
    }

    .name{
        display: flex;
        flex-direction: column;
    }

    .name input:first-child{
        margin-bottom: 40px;
    }
}

/*-----------------------------------------------------*/

  /* ---------- Likey banner ------------- */

  .why-likey{
      background-color: #A4C4B5;
      height: 97%;
      width: 40%;
      margin-right: 5% ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .why-likey div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .why-likey ul{
      list-style: none;
      padding: 1.7rem;
      font-style: italic;
      color: rgb(104, 104, 104);
      font-size: 0.8rem;
  }

  .info-header{
      color: white;
      font-family: 'Lobster', cursive;
      font-style: italic;
      font-size: 2rem;
      font-weight:lighter ;
  }

  /* --------------------------- */

  /* ---------- login form ---------- */

  form{
      max-width: 30%;
      width: 40%;
  }


  form input{
    outline: none;
    border: none;
    caret-color: rgb(241, 77, 104);
  }

  form h3{
      color: rgb(104, 104, 104);
  }

  .form-header{
    font-family: 'Lobster', cursive;
    color: rgb(104, 104, 104);
    font-size: 3rem;
    font-style: italic;
  }

  form input::placeholder{
    font-family: 'Lobster', cursive;
    font-size: 1rem;
  }


  .login-buttons{
      margin-top: 1.6rem;
      margin-bottom: 1.6rem;
      display: flex;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1.6rem;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }

  .separator:not(:empty)::before {
    margin-right: .25em;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .login-process h3 {
      font-weight: lighter;
  }


  .login-methods #google-login{
      background: #4086F6;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0.4em 1.5em;
      color: white;
      cursor: pointer;
      font-size: 1rem;
  }

  .login-methods #google-login:hover{
    background: #2074fa;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.4em 1.5em;
    color: white;
    cursor: pointer;
}

  .login-methods #twitter-login{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5em;
    color: rgb(104, 104, 104);
    margin-left: 5px;
    font-size: 1.2rem;
  }

  .login-methods #twitter-login:hover{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5em;
    color: rgb(104, 104, 104);
    margin-left: 5px;
    background-color: rgb(214, 214, 214);
  }

  .name{
      margin-bottom: 1.6rem;
      display: flex;
      justify-content: space-between;
      max-width:100%;
  }
  .name input{
      border-bottom: 1px solid rgb(104, 104, 104);
      margin-bottom: 1.6rem;
  }

  .account-info{
      display: flex;
      flex-direction: column;
  }

  .account-info input{
      margin-bottom: 2.5rem;
      border-bottom: 1px solid rgb(104, 104, 104);
  }


  .check{
      display: flex;
      font-size: 0.6rem;
  }

  .check p{
      margin-left: 5px;
      margin-top: -2px;
  }

  form a{
      color: purple;
      text-decoration: none;
  }

/* ------------------------- */

/* ------------- Sign in form ------------- */

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 40%; if page breaks try setting this back */

}

.sign-in h3 {
    font-weight: lighter;
    font-size: 1.1rem;
}

.sign-in h1{
    margin-bottom: 3rem;
}

.sign-in .account-info input{
    margin-bottom: 2rem;
    height: 3rem;
    font-size: 1.2rem;
}

.sign-in .account-info input::placeholder{
    font-size: 1.2rem;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
}

.remember-forgot .remember{
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember-forgot .remember p{
    margin-left: 3px;
    font-style: italic;
}

.remember-forgot  a{
    font-style: italic;
    color: #333;
}

.form-button-main{
    outline: none;
    margin-top: 1.6rem;
    border-radius: 50px;
    padding: 0.5em 1.6em;
    background-color: rgb(241, 77, 104);
    font-family: 'Lobster', cursive;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    min-width: 40%;
}

.form-button-main:hover{
    margin-top: 1.6rem;
    border-radius: 50px;
    padding: 0.5em 1.6em;
    background-color: rgb(240, 44, 76);
    font-family: 'Lobster', cursive;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}


.sign-in .separator{
    margin-top: 1.8rem;
}

.sign-in .google-login{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #2074fa;
}

.new{
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    font-style: italic;
}

.new a{
    color: #333;
    border-bottom: 1px solid rgb(104, 104, 104);
}

.new-google{
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------*/

/*-------------- forgot password page ---------------*/

.account-info{
    display: flex;
    flex-direction: column;
}

.forgot-password-text{
    color: rgb(104, 104, 104);
    margin-bottom: 2rem;
    font-style: italic;
}

.login-process h3{
    margin-bottom: 2rem
}

.recover-password-email input{
    font-size: 1.3rem;
}

.recover-password-email input::placeholder{
    font-size: 1.3rem;
}

.recover-password-email{
    margin-bottom: 1.6rem;
    border-bottom: 1px solid rgb(104, 104, 104);
}

/*------------------------------------------*/


/*-------------------------------------------------*/

/*--------------------- pop up -----------------------*/

#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    background: white;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width:70%;
    z-index: 2;
  }

  #popup.active{
    top: 30%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    width:40%;
    z-index: 2;
  }

  .popupheader{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .popupheader h2{
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 3rem;
    background: -webkit-linear-gradient( left, #22f770,#21aff7 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    animation-duration: 4s;
    animation-name: animation-gradient-popup;
    animation-iteration-count:infinite;
    animation-fill-mode: forwards;
  }

  @keyframes animation-gradient-popup {
    0% {
        background-position: 0 300px;
    }
    100% {
        background-position: 300px 0;
    }
  }

  .login-info{
      display: flex;
      flex-direction: column;
  }

  .popup-exit{
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      outline: none;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 1.1rem;
  }



/*------------------------navbar -----------------------*/
nav{
    border-bottom: 1px solid rgba(104, 104, 104,0.3);
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.navbar-links{
    display: flex;
    position: relative;
}


nav a {
    text-decoration: none;
    color: #333;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    padding-top: 2.2rem;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

nav a:hover{
    background-size: 100% 88%;
}


nav h1 {
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 3rem;
    background: -webkit-linear-gradient( left, #22f770,#21aff7 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    animation-duration: 4s;
    animation-name: animation-gradient-nav;
    animation-iteration-count:infinite;
    animation-fill-mode: forwards;
}

@keyframes animation-gradient-nav {
    0% {
        background-position: 0 230px;
    }
    100% {
        background-position: 230px 0;
    }
  }


.login-nav-button{
    outline: none;
    margin-top: 20px;
    border-radius: 50px;
    padding: 8px 20px;
    background: -webkit-linear-gradient( left, #22f770,#21aff7 );
    font-family: 'Lobster', cursive;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    min-width: 110px;
    
}

.navbar-login select{
    outline: none;
    border: none;
    background: transparent;
}



  /*--------------------- Main Page -----------------------*/


.main-page-main{
    display: flex;
}

.main-page-main .content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero{
    display: flex;
}

.main-page-main .content p{
    font-size: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
}

.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;

}
    .underline--magical:hover {
      background-size: 100% 88%;
    }
  

@media screen and (max-width: 700px){

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content p{
        font-size: 1rem;
    }
}