*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

  html{
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
  }

  