*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

  html{
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .login-process{
      height: 100vh;
      border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Roboto', sans-serif;
  }

  /* ---------- Likey banner ------------- */

  .why-likey{
      background-color: #A4C4B5;
      height: 97%;
      width: 40%;
      margin-right: 5% ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .why-likey div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .why-likey ul{
      list-style: none;
      padding: 20px;
      font-style: italic;
      color: rgb(104, 104, 104);
      font-size: 0.8rem;
  }
  
  .info-header{
      color: white;
      font-family: 'Lobster', cursive;
      font-style: italic;
      font-size: 2rem;
      font-weight:lighter ;
  }

  /* --------------------------- */

  /* ---------- login form ---------- */

  form{
      width: 30%;
  }

  form input{
    outline: none;
    border: none;
    caret-color: rgb(241, 77, 104);
    padding-bottom: 5px;
  }

  form h3{
      color: rgb(104, 104, 104);
  }

  .form-header{
    font-family: 'Lobster', cursive;
    color: rgb(104, 104, 104);
    font-size: 3rem;
    font-style: italic;
    margin-left: 30%;
    margin-bottom: 10px;
  }

  form input::placeholder{
    font-family: 'Lobster', cursive;
    font-size: 1rem;
  }


  .login-buttons{
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }


  .login-methods #google-login{
      background: #4086F6;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 5px 20px;
      color: white;
      cursor: pointer;
  }

  .login-methods #google-login:hover{
    background: #2074fa;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
}

  .login-methods #twitter-login{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: rgb(104, 104, 104);
    margin-left: 5px;
  }

  .login-methods #twitter-login:hover{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    color: rgb(104, 104, 104);
    margin-left: 5px;
    background-color: rgb(214, 214, 214);
  }

  .name{
      margin-bottom: 20px;
  }
  .name input{
      border-bottom: 1px solid rgb(104, 104, 104);
  }

  .account-info{
      display: flex;
      flex-direction: column;
  }

  .account-info input{
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(104, 104, 104);
  }


  .check{
      display: flex;
      font-size: 0.6rem;
  }

  .check p{
      margin-left: 5px;
      margin-top: -2px;
  }

  form a{
      color: purple;
      text-decoration: none;
  }

  .createAccount-button{
      margin-left: 30%;
      margin-top: 20px;
      border-radius: 50px;
      padding: 8px 20px;
      background-color: rgb(241, 77, 104);
      font-family: 'Lobster', cursive;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 1.1rem;
  }

  .createAccount-button:hover{
    margin-left: 30%;
    margin-top: 20px;
    border-radius: 50px;
    padding: 8px 20px;
    background-color: rgb(240, 44, 76);
    font-family: 'Lobster', cursive;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

/* ------------------------- */

/* ------------- Sign in form ------------- */

.sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in h3 {
    margin-left: 25%;
    margin-bottom: 50px;
    font-weight: lighter;
}

.sign-in h1{
    margin-bottom: 40px;
}

.sign-in .account-info input{
    margin-bottom: 30px;
    height: 40px;
    font-size: 1.2rem;
}

.sign-in .account-info input::placeholder{
    font-size: 1.2rem;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
}

.remember-forgot .remember{
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember-forgot .remember p{
    margin-left: 3px;
    font-style: italic;
}

.remember-forgot  a{
    font-style: italic;
    color: #333;
}

.signIn-button{
    margin-top: 20px;
    border-radius: 50px;
    padding: 8px 20px;
    background-color: rgb(240, 44, 76);
    font-family: 'Lobster', cursive;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    width: 40%;
}

.sign-in .separator{
    margin-top: 30px;
}
  
